.cart-product
    display: flex
    padding: 20px
    position: relative

    &:before
        background: $black-color
        content: ""
        display: block
        height: 2px
        left: 50%
        position: absolute
        top: -1px
        transform: translateX(-50%)
        width: calc(unquote('100% - 40px'))

    .img-holder
        width: 50px

        img
            width: 100%

    .holder
        flex-grow: 1
        margin-left: 20px
        position: relative

    .name
        color: $white-color
        display: block
        font-size: 14px
        margin: 0 25px 5px 0
    
    .row
        display: flex
        justify-content: space-between

    .property,
    .amount
        color: $gray-color
        display: block
        font-size: 12px
        margin: 0 0 5px

    .price
        color: $highlight-color
        font-size: 14px
        margin-top: 5px

    .remove
        background: none
        border: 0
        font-size: 0
        padding: 0
        position: absolute
        right: 0
        top: 0

        &:hover
            svg
                path
                    fill: $white-color

        svg
            height: 18px
            width: 18px

            path
                fill: $black-color