.header
    background-color: $white-color
    box-shadow: 0 0 10px rgba($black-color, .5)
    display: flex
    justify-content: flex-end
    position: fixed
    width: 100%
    z-index: 2

    &.open
        background: $cart-bg-color
        display: block
        height: 100%
        max-width: 520px
        right: 0
        top: 0
        z-index 2

        .cart-button
            margin: 40px auto

            &:after
                color: $white-color
                content: "Sacola"
                display: inline-block
                font-size: 24px
                margin-left: 5px
                text-transform: uppercase
                vertical-align: middle

            svg
                display: inline-block
                vertical-align: middle

                path
                    fill: $white-color

        .cart
            display: block

        .close
            background: none
            border: 0
            display: block
            font-size: 0
            left: 20px
            padding: 0
            position: absolute
            top: 20px

            svg
                height: 30px
                width: 30px

                path
                    fill: $white-color

    .close
        display: none

    .cart-button
        background: none
        border: 0
        display: block
        font-size: 12px
        font-weight: bold
        line-height: 18px
        margin: 10px
        padding: 0
        position: relative
        text-align: center

        &.change
            &:before
                animation: popup .3s linear;

        &:before
            background-color: $highlight-color
            border-radius: 50%
            bottom: -5px
            content: attr(data-number)
            display: inline-block
            height: 18px
            left: -5px
            position: absolute
            width: 18px

        svg
            height: 40px
            width: 40px

    .cart
        display: none

        .cart-product-list
            list-style: none
            margin: 0
            padding: 0

@keyframes popup
    0%
        transform: scale(1)
    50%
        transform: scale(2)
    100%
        transform: scale(1)