.product
    box-sizing: border-box
    max-width 240px
    padding: 20px
    position: relative
    text-align: center

    .free-shipping
        background-color: $highlight-color
        color: $white-color
        display: inline-block
        font-size: 10px
        padding: 5px
        position: absolute
        right: 0
        top: 0

    .img-holder
        height: 180px
        margin: 0 auto 10px
        position: relative
        overflow: hidden
        width: 180px

        img
             width: 100%
    
    .name
        display: block
        font-size: 14px
        margin-bottom: 15px

    .price
        display: block
        font-size: 12px
        position: relative

        &:before
            background-color: $highlight-color
            content: ""
            display: inline-block
            height: 2px
            left 50%
            position: absolute
            top: -5px
            transform: translateX(-50%)
            width: 15px

        span
            font-size: 24px
            font-weight: bold

    .installments
        color: $gray-color
        display: block
        font-size: 14px

    .select
        border: 1px solid $gray-color
        border-radius: 3px
        display: inline-block
        margin: 15px 0 10px
        position: relative

        &:before
            content: ""
            position: absolute
            right: 10px
            top: 50%
            transform: translateY(-3px)
            triangle( down, 6px, black )

        select
            appearance: none
            border: 0
            font-size: 12px
            padding: 10px
            padding-right: 32px;

    .add-cart
        background-color: $black-color
        border: 0
        color: $white-color
        font-size: 12px
        font-weight: bold
        padding: 10px 20px
        text-transform: uppercase
        transition: background .3s ease-in-out

        &:hover
            background-color: $button-hover-color