.total
    display: none
    padding: 20px

    &.show
        display: block

    .row
        display: flex
        justify-content: space-between
        margin: 0 0 20px

    .text
        color: $gray-color
        text-transform: uppercase

    .price
        color: $highlight-color
        display: block
        font-size: 24px
        text-align: right

        span
            font-weight: bold

    .installments
        color: $gray-color
        font-size: 12px
        text-transform: uppercase

    .buy-button
        background-color: $black-color
        border: 0
        color: $white-color
        display: block
        font-size: 14px
        font-weight: bold
        padding: 15px 20px
        text-transform: uppercase
        transition: background .3s ease-in-out
        width: 100%

        &:hover
            background-color: $button-hover-color