.total
    padding: 20px
    display: none

    &.show
        display: block

    .row
        display: flex
        justify-content: space-between
        margin: 0 0 20px

    .text
        color: #7f7f7f
        text-transform: uppercase

    .price
        font-size: 24px
        display: block
        text-align: right
        color: #ecbf04

    .installments
        font-size: 14px
        text-transform: uppercase
        color: #7f7f7f

    .buy-button
        background-color: #000
        display: block
        padding: 15px 20px
        border: 0
        width: 100%
        font-weight: bold
        text-transform: uppercase
        color: #fff