@import "../../node_modules/kouto-swiss/"
normalize()

@import "./components/*"

body
    color: #2e2d33
    font-family: Trebuchet ms, sans-serif

    button
        font-family: Trebuchet ms, sans-serif
        cursor: pointer

.content
    max-width: 730px
    margin: 0 auto